body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #007A33, #C8102E);
    color: #222;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 2vw;
    min-height: 100vh;
}

.login-card {
    background: #ffffff;
    padding: 40px 50px;
    border-radius: 18px;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.35);
    width: 100%;
    max-width: 420px;
    text-align: center;
}

.logo-uleam {
    width: 110px;
    margin-bottom: 10px;
}

.sistema-nombre {
    font-size: 1.8rem;
    font-weight: bold;
    color: #007A33;
    margin: 0;
}

.login-card h1 {
    margin-top: 18px;
    color: #222;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 2px solid #CCCCCC;
    border-radius: 6px;
    font-size: 15px;
    transition: 0.3s;
}

.form-group input:focus {
    border-color: #007A33;
}

/* BOTÓN PRINCIPAL */
button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007A33;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 5px;
    transition: 0.3s;
}

button[type="submit"]:hover {
    background-color: #005D27;
}

button[style] {
    border: 2px solid #C8102E !important;
    background: transparent !important;
    color: #C8102E !important;
}

button[style]:hover {
    background: #C8102E !important;
    color: #fff !important;
}

.error-message {
    color: #C8102E;
    font-size: 14px;
}


.registro-link {
    margin-top: 25px;
}

.btn-registro {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 2px solid #007A33;
    border-radius: 6px;
    color: #007A33;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.btn-registro:hover {
    background: #007A33;
    color: #fff;
}
